@{
    ViewBag.Title = "Coach";
    if (Session["CoachUserName"] == null)
    {
        Response.Redirect("../Home/Login");
    }
}

<h2>Coach DashBoard</h2>
<h2>Welcome @Session["CoachUserName"]</h2>