
@{
    ViewBag.Title = "Player";
    if (Session["PlayerUsername"] == null)
    {
        Response.Redirect("../Home/Login");
    }
}

<h2>Player DashBoard</h2>
<h2>Welcome , @Session["Name"] </h2>

